AMFM-decompy==1.0.8.1
audioread==2.1.4
caffeine==0.5
chardet==3.0.4
cycler==0.10.0
Cython==0.24.1
decorator==4.0.10
functools32==3.2.3.post2
joblib==0.10.0
librosa==0.4.3
matplotlib==1.5.2
numpy==1.11.1
peewee==2.8.2
progressbar2==3.10.0
pyparsing==2.1.8
pysrt==1.1.1
python-dateutil==2.5.3
python-utils==2.0.0
pytz==2016.6.1
resampy==0.1.4
scikit-learn==0.17.1
scipy==0.18.0
six==1.10.0
subliminal==2.0.5
subprocess32==3.2.7
